<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat a New Fruit!</title>
</head>
<body>
    <h1>Creat a New Car!</h1>
   
        <form action="/cars" method="POST">
            <label for="make">Make:</label>
            <input type="text" name="make" required>
            <br>
            <label for="model">Model:</label>
            <input type="text" name="model" required>
            <br>
            <label for="year">Year:</label>
            <input type="number" name="year" required>
            <br>
            <label>Description:</label>
        <textarea name="description"></textarea>
        <br>
            <button type="submit">Add Car</button>
    
        </form>
        <a href="/cars">Back to Cars List</a>
        
    </form>
</body>
</html>